* {
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(68, 67, 67);
  background-color: #f3f3f3;
  padding: 2rem;
}

.logo {
  height: 5rem;
  cursor: pointer;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0, 2rem;
}

.welcome-message {
  font-size: 1.3rem;
  font-weight: 400;
}

.login {
  display: flex;
}

.login-input {
  border: none;
  border-radius: 1rem;
  font-size: 1.1rem;
  width: 12rem;
  padding: 0.5rem;
  margin-right: 1.4rem;
  text-align: center;
  font-family: inherit;
  transition: all 0.5s;
}
.login-input::placeholder {
  color: #bbb;
}

.btn-login {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.5s;
}

.application {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: flex;
  justify-content: space-around;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  /* NOTE This creates the fade in/out anumation */

  transition: all 1s;
}

/* movements styles */

.movements-operations {
  display: flex;
  flex-direction: row;
}

.movements {
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

/*continue movement styles
