* {
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(68, 67, 67);
  background-color: #f3f3f3;
}

.logo {
  height: 5.25rem;
}
